board/*.b#*
board/*.s#*
board/*.GBL
board/*.GBO
board/*.GBP
board/*.GBS
board/*.GML
board/*.GTL
board/*.GTO
board/*.GTP
board/*.GTS
board/*.TXT
board/*.dri
board/*.dxf
board/*.gpi

GUI/*/*.pro.user*
GUI/build-*
GUI/MotoLink/res/oxygen

code/*/.dep
code/*/build
code/*/.cproject
code/*/.project