[submodule "code/ChibiOS-RT"]
	path = code/ChibiOS-RT
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "code/ChibiOS-Contrib"]
	path = code/ChibiOS-Contrib
	url = https://github.com/fpoussin/ChibiOS-Contrib.git
[submodule "code/app/dsp_lib"]
	path = code/app/dsp_lib
	url = https://github.com/fpoussin/cm4-dsp-lib.git
[submodule "GUI/QtUsb"]
	path = GUI/QtUsb
	url = https://github.com/fpoussin/QtUsb.git
