[Desktop Entry]
Version=1.0
Type=Application
Name=MotoLink
GenericName=MotoLink
Comment=MotoLink GUI
Icon=motolink
Exec=motolink
Terminal=false
Categories=Qt;Development;
